Repository FrankChen021/bithon, pull requests merged in 2024-10, with the labels that each got.

#872 Separate test api from send api
  server/alerting/manager/alert-channel-api.http
  server/alerting/manager/src/main/java/org/bithon/server/alerting/manager/api/AlertChannelApi.java
  server/alerting/notification/src/main/java/org/bithon/server/alerting/notification/channel/INotificationChannel.java
  server/alerting/notification/src/main/java/org/bithon/server/alerting/notification/channel/console/ConsoleNotificationChannel.java
  server/alerting/notification/src/main/java/org/bithon/server/alerting/notification/channel/ding/DingNotificationChannel.java
  server/alerting/notification/src/main/java/org/bithon/server/alerting/notification/channel/http/HttpNotificationChannel.java
  server/alerting/notification/src/main/java/org/bithon/server/alerting/notification/channel/kafka/KafkaNotificationChannel.java
Labels: Domain/Alert

#875 improvement over agent
  agent/agent-main/src/main/java/org/bithon/agent/main/Main.java
  agent/agent-plugins/httpclient-okhttp-3.2/src/main/java/org/bithon/agent/plugin/httpclient/okhttp32/OkHttp32HttpClientPlugin.java
  server/storage-jdbc/src/main/java/org/bithon/server/storage/jdbc/metric/QueryExpressionBuilder.java
Labels: Component/Agent, Component/Query

#878 Http endpoint filter
  agent/agent-observability/src/main/java/org/bithon/agent/observability/metric/domain/web/HttpIncomingFilter.java
  component/component-commons/src/main/java/org/bithon/component/commons/expression/function/builtin/StringFunction.java
  server/storage/src/test/java/org/bithon/server/storage/common/expression/FunctionsTest.java
Labels: Domain/Metric, Domain/Tracing, Component/Agent
