Repository FrankChen021/bithon, pull requests merged in 2024-11, with the labels that each got.

#883 rename spring plugins
  README.md
  agent/agent-instrumentation/src/main/java/org/bithon/agent/instrumentation/aop/interceptor/plugin/PluginResolver.java
  agent/agent-plugins/openfeign/pom.xml
  agent/agent-plugins/openfeign/src/main/java/org/bithon/agent/plugin/openfeign/OpenFeignPlugin.java
  agent/agent-plugins/openfeign/src/main/java/org/bithon/agent/plugin/openfeign/interceptor/FeignInvocationContext.java
  agent/agent-plugins/openfeign/src/main/java/org/bithon/agent/plugin/openfeign/interceptor/SynchronousMethodHandler$Invoke.java
  agent/agent-plugins/openfeign/src/main/java/org/bithon/agent/plugin/openfeign/interceptor/SynchronousMethodHandlerFactory$Create.java
  agent/agent-plugins/pom.xml
  agent/agent-plugins/spring-webmvc/pom.xml
  agent/agent-plugins/spring-webmvc/src/main/java/org/bithon/agent/plugin/spring/webmvc/SpringWebMvcPlugin.java
  agent/agent-plugins/spring-webmvc/src/main/java/org/bithon/agent/plugin/spring/webmvc/controller/InvocableHandlerMethod$DoInvoke.java
  agent/agent-plugins/spring-webmvc/src/main/java/org/bithon/agent/plugin/spring/webmvc/rs/RestTemplate$Execute.java
  agent/agent-plugins/spring-webmvc/src/main/java/org/bithon/agent/plugin/spring/webmvc/rs/RestTemplate$HandleResponse.java
Labels: Component/Plugin, Component/Agent

#876 improve alerting
  server/alerting/common/src/main/java/org/bithon/server/alerting/common/evaluator/EvaluationContext.java
  server/alerting/common/src/main/java/org/bithon/server/alerting/common/evaluator/EvaluationLogger.java
  server/alerting/common/src/main/java/org/bithon/server/alerting/common/evaluator/metric/absolute/NullValuePredicate.java
  server/alerting/common/src/main/java/org/bithon/server/alerting/common/utils/Validator.java
  server/alerting/evaluator/src/main/java/org/bithon/server/alerting/evaluator/EvaluatorModuleAutoConfiguration.java
  server/alerting/evaluator/src/main/java/org/bithon/server/alerting/evaluator/evaluator/AlertEvaluator.java
  server/alerting/evaluator/src/main/java/org/bithon/server/alerting/evaluator/evaluator/AlertEvaluatorScheduler.java
  server/alerting/evaluator/src/main/java/org/bithon/server/alerting/evaluator/evaluator/AlertExpressionEvaluator.java
  server/alerting/evaluator/src/main/java/org/bithon/server/alerting/evaluator/evaluator/EvaluationLogBatchWriter.java
  server/alerting/evaluator/src/main/java/org/bithon/server/alerting/evaluator/repository/AlertRepository.java
  server/alerting/evaluator/src/main/java/org/bithon/server/alerting/evaluator/storage/local/AlertStateLocalMemoryStorage.java
  server/alerting/evaluator/src/test/java/org/bithon/server/alerting/evaluator/evaluation/AlertRuleEvaluatorTest.java
  server/alerting/manager/alert-command-api.http
  server/alerting/manager/alert-query-api.http
  server/alerting/manager/pom.xml
  server/alerting/manager/src/main/java/org/bithon/server/alerting/manager/api/AlertChannelApi.java
  server/alerting/manager/src/main/java/org/bithon/server/alerting/manager/api/AlertCommandApi.java
  server/alerting/manager/src/main/java/org/bithon/server/alerting/manager/api/AlertQueryApi.java
  server/alerting/manager/src/main/java/org/bithon/server/alerting/manager/api/parameter/CreateAlertRuleRequest.java
  server/alerting/manager/src/main/java/org/bithon/server/alerting/manager/api/parameter/GetAlertRecordListRequest.java
  server/alerting/manager/src/main/java/org/bithon/server/alerting/manager/api/parameter/GetAlertRecordListResponse.java
  server/alerting/manager/src/main/java/org/bithon/server/alerting/manager/api/parameter/ListRecordBo.java
  server/alerting/manager/src/main/java/org/bithon/server/alerting/manager/biz/AlertCommandService.java
  server/alerting/manager/src/main/java/org/bithon/server/alerting/manager/biz/AlertExpressionSuggester.java
  server/alerting/manager/src/main/java/org/bithon/server/alerting/manager/biz/JsonPayloadFormatter.java
  server/alerting/notification/src/main/java/org/bithon/server/alerting/notification/channel/http/HttpNotificationChannel.java
  server/storage-jdbc-clickhouse/src/main/java/org/bithon/server/storage/jdbc/clickhouse/alerting/AlertRecordStorage.java
  server/storage-jdbc-clickhouse/src/main/java/org/bithon/server/storage/jdbc/clickhouse/alerting/NotificationChannelStorage.java
  server/storage-jdbc/pom.xml
  server/storage-jdbc/src/main/java/org/bithon/server/storage/jdbc/alerting/AlertObjectJdbcStorage.java
  server/storage-jdbc/src/main/java/org/bithon/server/storage/jdbc/alerting/AlertRecordJdbcStorage.java
  server/storage-jdbc/src/main/java/org/bithon/server/storage/jdbc/alerting/JdbcLogWriter.java
  server/storage-jdbc/src/main/java/org/bithon/server/storage/jdbc/alerting/NotificationChannelJdbcStorage.java
  server/storage-jdbc/src/main/java/org/bithon/server/storage/jdbc/common/jooq/DefaultSchema.java
  server/storage-jdbc/src/main/java/org/bithon/server/storage/jdbc/common/jooq/Tables.java
  server/storage-jdbc/src/main/java/org/bithon/server/storage/jdbc/common/jooq/tables/BithonAlertEvaluationLog.java
  server/storage-jdbc/src/main/java/org/bithon/server/storage/jdbc/common/jooq/tables/BithonAlertNotificationChannel.java
  server/storage-jdbc/src/main/java/org/bithon/server/storage/jdbc/common/jooq/tables/BithonAlertObject.java
  server/storage-jdbc/src/main/java/org/bithon/server/storage/jdbc/common/jooq/tables/records/BithonAlertEvaluationLogRecord.java
  server/storage-jdbc/src/main/java/org/bithon/server/storage/jdbc/common/jooq/tables/records/BithonAlertNotificationChannelRecord.java
  server/storage-jdbc/src/main/java/org/bithon/server/storage/jdbc/common/jooq/tables/records/BithonAlertObjectRecord.java
  server/storage-jdbc/src/main/resources/database-alerting.sql
  server/storage-jdbc/src/main/resources/database.sql
  server/storage/src/main/java/org/bithon/server/storage/alerting/IAlertNotificationChannelStorage.java
  server/storage/src/main/java/org/bithon/server/storage/alerting/IAlertRecordStorage.java
  server/storage/src/main/java/org/bithon/server/storage/alerting/pojo/AlertStatus.java
  server/storage/src/main/java/org/bithon/server/storage/alerting/pojo/EvaluationLogEvent.java
  server/storage/src/main/java/org/bithon/server/storage/alerting/pojo/NotificationChannelObject.java
  server/web-app/src/main/resources/dashboard/application-overview.json
  server/web-app/src/main/resources/dashboard/exception-metrics.json
  server/web-app/src/main/resources/dashboard/http-incoming-metrics.json
  server/web-app/src/main/resources/dashboard/http-outgoing-metrics.json
  server/web-app/src/main/resources/templates/alerting/alert/detail.html
  server/web-app/src/main/resources/templates/alerting/record/detail.html
  server/web-app/src/main/resources/templates/alerting/record/list.html
Labels: Domain/Alert

#881 Fix ClassNotFound
  agent/agent-controller/src/main/java/org/bithon/agent/controller/AgentControllerService.java
  agent/agent-instrumentation/src/main/java/org/bithon/agent/instrumentation/aop/interceptor/InterceptorSupplier.java
  agent/agent-instrumentation/src/main/java/org/bithon/agent/instrumentation/aop/interceptor/plugin/PluginResolver.java
  agent/agent-instrumentation/src/main/java/org/bithon/agent/instrumentation/loader/InterceptorClassLoader.java
  agent/agent-instrumentation/src/main/java/org/bithon/agent/instrumentation/loader/InterceptorClassLoaderManager.java
  agent/agent-instrumentation/src/main/java/org/bithon/agent/instrumentation/loader/PluginClassLoader.java
  agent/agent-observability/src/main/java/org/bithon/agent/observability/metric/collector/MetricCollectorManager.java
  agent/agent-observability/src/main/java/org/bithon/agent/observability/metric/collector/MetricRegistryFactory.java
  agent/agent-plugins/apache-kafka/src/main/java/org/bithon/agent/plugin/apache/kafka/network/interceptor/NetworkClient$CompleteResponses.java
  agent/agent-plugins/bithon-sdk/src/main/java/org/bithon/agent/plugin/bithon/sdk/interceptor/MetricRegistryFactory$Create.java
Labels: Bug, Domain/Metric, Component/Agent

#885 Support to change mappings on the fly
  server/pipeline/src/main/java/org/bithon/server/pipeline/common/pipeline/AbstractPipeline.java
  server/pipeline/src/main/java/org/bithon/server/pipeline/tracing/TracePipeline.java
  server/pipeline/src/main/java/org/bithon/server/pipeline/tracing/TracePipelineConfig.java
  server/pipeline/src/main/java/org/bithon/server/pipeline/tracing/exporter/ToTraceStorageExporter.java
  server/pipeline/src/main/java/org/bithon/server/pipeline/tracing/mapping/CurrentTraceIdExtractor.java
  server/pipeline/src/main/java/org/bithon/server/pipeline/tracing/mapping/NameValueExtractor.java
  server/pipeline/src/main/java/org/bithon/server/pipeline/tracing/mapping/TraceIdMappingBatchExtractor.java
  server/pipeline/src/main/java/org/bithon/server/pipeline/tracing/mapping/TraceMappingFactory.java
  server/pipeline/src/main/java/org/bithon/server/pipeline/tracing/mapping/URIParameterExtractor.java
  server/pipeline/src/main/java/org/bithon/server/pipeline/tracing/mapping/UpstreamTraceIdExtractor.java
  server/pipeline/src/test/java/org/bithon/server/pipeline/tracing/mapping/URIParameterExtractorTest.java
Labels: Component/Pipeline

#886 Update default sampling percentage
  agent/agent-distribution/resources/agent.yml
  doc/configuration/agent/README.md
Labels: Domain/Tracing, Component/Agent

#887 Support druid to the latest
  README.md
  agent/agent-plugins/apache-druid/src/main/java/org/bithon/agent/plugin/apache/druid/ApacheDruidPlugin.java
  agent/agent-plugins/apache-druid/src/main/java/org/bithon/agent/plugin/apache/druid/interceptor/ObjectMapperInstance.java
  agent/agent-plugins/apache-druid/src/main/java/org/bithon/agent/plugin/apache/druid/interceptor/QueryLifecycle$Initialize.java
  agent/agent-plugins/apache-druid/src/main/java/org/bithon/agent/plugin/apache/druid/interceptor/SqlLifecycle$Initialize.java
  agent/agent-plugins/apache-druid/src/main/java/org/bithon/agent/plugin/apache/druid/interceptor/SqlResource$DoPost.java
  server/server-starter/src/main/resources/application-pipeline-from-kafka.yml
  server/server-starter/src/main/resources/application-pipeline-to-kafka-to-local.yml
  server/server-starter/src/main/resources/application-pipeline-to-local.yml
Labels: Component/Plugin, Domain/Tracing, Component/Agent, Component/Pipeline

#888 Improve ORDER-BY validation
  component/component-commons/src/main/java/org/bithon/component/commons/utils/CollectionUtils.java
  server/alerting/common/src/main/java/org/bithon/server/alerting/common/evaluator/metric/IMetricEvaluator.java
  server/alerting/common/src/main/java/org/bithon/server/alerting/common/evaluator/metric/MetricEvaluatorWithLogger.java
  server/alerting/common/src/main/java/org/bithon/server/alerting/common/evaluator/metric/absolute/AbstractAbsoluteThresholdPredicate.java
  server/alerting/common/src/main/java/org/bithon/server/alerting/common/evaluator/metric/absolute/NullValuePredicate.java
  server/alerting/common/src/main/java/org/bithon/server/alerting/common/evaluator/metric/relative/AbstractRelativeThresholdPredicate.java
  server/alerting/common/src/main/java/org/bithon/server/alerting/common/evaluator/metric/relative/baseline/AbstractBaselinePredicate.java
  server/metric-expression/src/main/java/org/bithon/server/metric/expression/MetricExpression.java
  server/metric-expression/src/main/java/org/bithon/server/metric/expression/MetricExpressionASTBuilder.java
  server/metric-expression/src/test/java/org/bithon/server/metric/expression/MetricExpressionASTBuilderTest.java
  server/storage-jdbc/src/main/java/org/bithon/server/storage/jdbc/metric/MetricJdbcStorage.java
  server/web-service/src/main/java/org/bithon/server/web/service/datasource/api/QueryRequest.java
  server/web-service/src/main/java/org/bithon/server/web/service/datasource/api/impl/QueryConverter.java
  server/web-service/src/main/java/org/bithon/server/web/service/tracing/service/TraceService.java
Labels: Component/Query

#891 Make sure jedis4 client metrics are recorded if tracing is not enabled
  agent/agent-plugins/redis-jedis-4.x/src/main/java/org/bithon/agent/plugin/redis/jedis4/interceptor/OnCommand.java
Labels: Component/Plugin, Domain/Metric

#890 Use data source api to replace trace api
  server/storage-jdbc-clickhouse/src/main/java/org/bithon/server/storage/jdbc/clickhouse/trace/TraceStorage.java
  server/storage-jdbc/src/main/java/org/bithon/server/storage/jdbc/metric/MetricJdbcReader.java
  server/storage-jdbc/src/main/java/org/bithon/server/storage/jdbc/tracing/TraceJdbcStorage.java
  server/storage-jdbc/src/main/java/org/bithon/server/storage/jdbc/tracing/reader/TraceJdbcReader.java
  server/storage/src/main/java/org/bithon/server/storage/datasource/query/IDataSourceReader.java
  server/storage/src/main/java/org/bithon/server/storage/tracing/ITraceReader.java
  server/storage/src/main/java/org/bithon/server/storage/tracing/TraceTableSchema.java
  server/storage/src/main/java/org/bithon/server/storage/tracing/reader/TraceFilterSplitter.java
  server/web-service/src/main/java/org/bithon/server/web/service/datasource/api/impl/DataSourceApi.java
  server/web-service/src/main/java/org/bithon/server/web/service/tracing/api/TraceApi.java
  server/web-service/src/main/java/org/bithon/server/web/service/tracing/service/TraceService.java
Labels: Component/Query

#894 Add default rules to drop quick and successful health check
  server/server-starter/src/main/resources/application-pipeline-from-kafka.yml
  server/server-starter/src/main/resources/application-pipeline-to-kafka-to-local.yml
  server/server-starter/src/main/resources/application-pipeline-to-local.yml
Labels: Component/Pipeline

#896 Fix accidental wrong configuration introduced by #894
  server/server-starter/src/main/resources/application-pipeline-from-kafka.yml
  server/server-starter/src/main/resources/application-pipeline-to-kafka-to-local.yml
  server/server-starter/src/main/resources/application-pipeline-to-local.yml
Labels: Component/Pipeline

#897 Disable absolute comparison when offset is giving
  agent/agent-core/src/main/java/org/bithon/agent/configuration/ObjectMapperConfigurer.java
  agent/agent-core/src/test/java/org/bithon/agent/configuration/TestConfigurationManager.java
  component/component-commons/src/main/java/org/bithon/component/commons/utils/HumanReadablePercentage.java
  component/component-commons/src/test/java/org/bithon/component/commons/utils/HumanReadablePercentageTest.java
  server/alerting/common/src/main/java/org/bithon/server/alerting/common/parser/AlertExpressionASTParser.java
  server/alerting/common/src/main/java/org/bithon/server/alerting/common/serializer/AlertExpressionSerializer.java
  server/alerting/common/src/test/java/org/bithon/server/alerting/common/serializer/AlertExpressionSerializerTest.java
  server/metric-expression/src/main/java/org/bithon/server/metric/expression/MetricExpression.java
  server/metric-expression/src/main/java/org/bithon/server/metric/expression/MetricExpressionASTBuilder.java
  server/metric-expression/src/test/java/org/bithon/server/metric/expression/MetricExpressionASTBuilderTest.java
  server/pipeline/src/test/java/org/bithon/server/pipeline/common/transformer/ProbabilisticSamplerTransformTest.java
  server/server-commons/src/main/java/org/bithon/server/commons/serializer/HumanReadablePercentageDeserializer.java
  server/server-commons/src/main/java/org/bithon/server/commons/serializer/HumanReadablePercentageSerializer.java
  server/server-commons/src/test/java/org/bithon/server/commons/serializer/HumanReadablePercentageSerializerTest.java
  server/storage-jdbc/src/test/java/org/bithon/server/storage/jdbc/metric/QueryExpressionBuilderTest.java
  server/storage/src/main/java/org/bithon/server/storage/common/expression/ExpressionASTBuilder.java
Labels: Domain/Alert

#899 Fix alerting status
  server/alerting/evaluator/src/main/java/org/bithon/server/alerting/evaluator/evaluator/AlertEvaluator.java
  server/alerting/notification/src/main/java/org/bithon/server/alerting/notification/channel/http/HttpNotificationChannel.java
  server/alerting/notification/src/main/java/org/bithon/server/alerting/notification/config/NotificationProperties.java
Labels: Domain/Alert

#900 [Experimental] Support to query on AggregateFunction columns
  component/component-commons/src/main/java/org/bithon/component/commons/expression/function/builtin/AggregateFunction.java
  server/server-commons/src/main/java/org/bithon/server/commons/utils/DbUtils.java
  server/server-commons/src/test/java/org/bithon/server/commons/utils/DbUtilsTest.java
  server/storage-jdbc-clickhouse/src/main/java/org/bithon/server/storage/jdbc/clickhouse/ClickHouseStorageAutoConfiguration.java
  server/storage-jdbc-clickhouse/src/main/java/org/bithon/server/storage/jdbc/clickhouse/schema/AggregateFunctionColumn.java
  server/storage-jdbc/src/main/java/org/bithon/server/storage/jdbc/metric/MetricJdbcReader.java
  server/storage-jdbc/src/main/java/org/bithon/server/storage/jdbc/metric/SqlGenerator.java
  server/storage/src/main/java/org/bithon/server/storage/datasource/column/DateTimeColumn.java
  server/storage/src/main/java/org/bithon/server/storage/datasource/column/IColumn.java
  server/storage/src/main/java/org/bithon/server/storage/datasource/column/LongColumn.java
  server/storage/src/main/java/org/bithon/server/storage/datasource/column/ObjectColumn.java
  server/storage/src/main/java/org/bithon/server/storage/datasource/column/StringColumn.java
  server/storage/src/main/java/org/bithon/server/storage/datasource/column/aggregatable/last/AggregateDoubleLastColumn.java
  server/storage/src/main/java/org/bithon/server/storage/datasource/column/aggregatable/last/AggregateLongLastColumn.java
  server/storage/src/main/java/org/bithon/server/storage/datasource/column/aggregatable/max/AggregateLongMaxColumn.java
  server/storage/src/main/java/org/bithon/server/storage/datasource/column/aggregatable/min/AggregateLongMinColumn.java
  server/storage/src/main/java/org/bithon/server/storage/datasource/column/aggregatable/sum/AggregateDoubleSumColumn.java
  server/storage/src/main/java/org/bithon/server/storage/datasource/column/aggregatable/sum/AggregateLongSumColumn.java
  server/storage/src/main/java/org/bithon/server/storage/datasource/column/aggregatable/sum/AggregateSumColumn.java
  server/storage/src/main/java/org/bithon/server/storage/datasource/query/ast/TableIdentifier.java
  server/web-service/src/main/java/org/bithon/server/web/service/datasource/api/impl/QueryConverter.java
Labels: Component/Query

#902 Improve relative comparison
  component/component-commons/src/main/java/org/bithon/component/commons/utils/HumanReadableDuration.java
  server/alerting/common/src/main/java/org/bithon/server/alerting/common/evaluator/metric/relative/AbstractRelativeThresholdPredicate.java
  server/alerting/common/src/main/java/org/bithon/server/alerting/common/evaluator/metric/relative/RelativeGTEPredicate.java
  server/alerting/common/src/main/java/org/bithon/server/alerting/common/evaluator/metric/relative/RelativeGTPredicate.java
  server/alerting/common/src/main/java/org/bithon/server/alerting/common/evaluator/metric/relative/RelativeLTEPredicate.java
  server/alerting/common/src/main/java/org/bithon/server/alerting/common/evaluator/metric/relative/RelativeLTPredicate.java
  server/alerting/common/src/main/java/org/bithon/server/alerting/common/evaluator/result/IEvaluationOutput.java
  server/alerting/common/src/main/java/org/bithon/server/alerting/common/evaluator/result/RelativeComparisonEvaluationOutput.java
  server/alerting/common/src/main/java/org/bithon/server/alerting/common/model/AlertRule.java
  server/alerting/evaluator/src/main/java/org/bithon/server/alerting/evaluator/EvaluatorModuleAutoConfiguration.java
  server/alerting/evaluator/src/main/java/org/bithon/server/alerting/evaluator/evaluator/AlertEvaluator.java
  server/alerting/evaluator/src/main/java/org/bithon/server/alerting/evaluator/repository/AlertRepository.java
  server/alerting/evaluator/src/main/java/org/bithon/server/alerting/evaluator/repository/IAlertChangeListener.java
  server/alerting/evaluator/src/main/java/org/bithon/server/alerting/evaluator/storage/local/AlertStateLocalMemoryStorage.java
  server/alerting/evaluator/src/main/java/org/bithon/server/alerting/evaluator/storage/redis/AlertStateRedisStorage.java
  server/alerting/evaluator/src/test/java/org/bithon/server/alerting/evaluator/evaluation/AlertRuleEvaluatorTest.java
  server/alerting/manager/src/main/java/org/bithon/server/alerting/manager/api/parameter/CreateAlertRuleRequest.java
  server/alerting/manager/src/main/java/org/bithon/server/alerting/manager/biz/AlertCommandService.java
  server/alerting/notification/src/main/java/org/bithon/server/alerting/notification/channel/http/HttpNotificationChannel.java
  server/alerting/notification/src/main/java/org/bithon/server/alerting/notification/config/NotificationProperties.java
  server/metric-expression/src/main/antlr4/org/bithon/server/metric/expression/MetricExpression.g4
  server/metric-expression/src/main/java/org/bithon/server/metric/expression/api/MetricQueryApi.java
  server/metric-expression/src/test/java/org/bithon/server/metric/expression/MetricExpressionASTBuilderTest.java
  server/web-service/src/main/java/org/bithon/server/web/service/datasource/api/QueryResponse.java
  server/web-service/src/main/java/org/bithon/server/web/service/datasource/api/TimeSeriesQueryResult.java
Labels: Domain/Alert

#901 Improve trace response for better FE processing
  server/web-service/src/main/java/org/bithon/server/web/service/tracing/api/GetTraceByIdResponse.java
  server/web-service/src/main/java/org/bithon/server/web/service/tracing/api/TraceApi.java
  server/web-service/src/main/java/org/bithon/server/web/service/tracing/api/TraceSpanBo.java
  server/web-service/src/main/java/org/bithon/server/web/service/tracing/service/TraceService.java
  server/web-service/src/main/java/org/bithon/server/web/service/tracing/service/TraceTopoBuilder.java
Labels: Domain/Tracing

#904 Improve query processing
  server/alerting/manager/src/main/java/org/bithon/server/alerting/manager/api/AlertChannelApi.java
  server/alerting/manager/src/main/java/org/bithon/server/alerting/manager/api/AlertCommandApi.java
  server/alerting/manager/src/main/java/org/bithon/server/alerting/manager/api/AlertQueryApi.java
  server/alerting/manager/src/main/java/org/bithon/server/alerting/manager/api/parameter/CreateAlertRuleRequest.java
  server/alerting/manager/src/main/java/org/bithon/server/alerting/manager/api/parameter/UpdateAlertRuleRequest.java
  server/alerting/manager/src/main/java/org/bithon/server/alerting/manager/biz/AlertExpressionSuggester.java
  server/alerting/notification/src/main/java/org/bithon/server/alerting/notification/api/NotificationApiImpl.java
  server/server-commons/src/main/java/org/bithon/server/commons/utils/SqlLikeExpression.java
  server/storage-jdbc-clickhouse/src/main/java/org/bithon/server/storage/jdbc/clickhouse/ClickHouseSqlDialect.java
  server/storage-jdbc-clickhouse/src/main/java/org/bithon/server/storage/jdbc/clickhouse/alerting/NotificationChannelStorage.java
  server/storage-jdbc-clickhouse/src/main/java/org/bithon/server/storage/jdbc/clickhouse/common/optimizer/ClickHouseExpressionOptimizer.java
  server/storage-jdbc-h2/src/main/java/org/bithon/server/storage/jdbc/h2/H2SqlDialect.java
  server/storage-jdbc-mysql/src/main/java/org/bithon/server/storage/jdbc/mysql/MySQLSqlDialect.java
  server/storage-jdbc/src/main/java/org/bithon/server/storage/jdbc/alerting/AlertObjectJdbcStorage.java
  server/storage-jdbc/src/main/java/org/bithon/server/storage/jdbc/alerting/NotificationChannelJdbcStorage.java
  server/storage-jdbc/src/main/java/org/bithon/server/storage/jdbc/common/dialect/Expression2Sql.java
  server/storage-jdbc/src/main/java/org/bithon/server/storage/jdbc/metric/MetricJdbcReader.java
  server/storage/src/main/java/org/bithon/server/storage/alerting/IAlertNotificationChannelStorage.java
  server/storage/src/main/java/org/bithon/server/storage/datasource/query/Query.java
  server/storage/src/main/java/org/bithon/server/storage/event/EventTableSchema.java
  server/web-service/src/main/java/org/bithon/server/web/service/datasource/api/QueryResponse.java
  server/web-service/src/main/java/org/bithon/server/web/service/datasource/api/impl/DataSourceApi.java
  server/web-service/src/main/java/org/bithon/server/web/service/datasource/api/impl/QueryConverter.java
Labels: Component/Query

#915 Fix class cast exception when redisson executes commands in batched way
  agent/agent-plugins/redis-redisson/README.md
  agent/agent-plugins/redis-redisson/src/main/java/org/bithon/agent/plugin/redis/redisson/RedissonPlugin.java
  agent/agent-plugins/redis-redisson/src/main/java/org/bithon/agent/plugin/redis/redisson/interceptor/BatchCommandCompletionPromise.java
  agent/agent-plugins/redis-redisson/src/main/java/org/bithon/agent/plugin/redis/redisson/interceptor/CommandData$Ctor.java
  agent/agent-plugins/redis-redisson/src/main/java/org/bithon/agent/plugin/redis/redisson/interceptor/RedisConnection$SendCommands.java
Labels: Bug, Domain/Metric, Component/Agent

#884 fix bug for issues 879
  agent/agent-plugins/redis-jedis-2.x/src/main/java/org/bithon/agent/plugin/redis/jedis2/interceptor/OnCommand.java
  agent/agent-plugins/redis-jedis-3.x/src/main/java/org/bithon/agent/plugin/redis/jedis3/interceptor/OnCommand.java
Labels: Bug, Domain/Metric, Component/Agent
